body {
    background-color: black;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

h1:hover {
    color: red;
}

.button {
    border-color: white !important;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: solid;
    border-radius: 20px;
}

.button:hover {
    transform: scale(1.1);
    border-color: red !important;
    box-shadow: 0 0 20px 1px red;
}

#buttons {
    display: flex;
    justify-content: center;
}

#rock {
    background-image: url('rock.png');
    background-size: contain;
}

#paper {
    background-image: url('paper.png');
    background-size: contain;
}

#scissors {
    background-image: url('scissors.png');
    background-size: contain;
}

#choices {
    display: flex;
    
    justify-content: center;
    height: 240px;
    width: auto;
    padding: 100px;
}

#playerChoice {
    width: 200px;
    height: 200px;
    margin: 20px;
}

#computerChoice {
    width: 200px;
    height: 200px;
    margin: 20px;
}

#scoreBoard {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#computerScore {
    margin: 20px;
}

#humanScore {
    margin: 20px;
}

#output {
    display: flex;
    justify-content: center;
    color: white; 
    font-size: 50px;
}

*:focus {
    outline: 0 !important;
}
